* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar {
    display: none;
}

body{
    margin: 0;
}

.flex {
    margin: 3rem 8rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    height: calc(100vh - 6rem);
    overflow-y: auto;
    min-width: 550px;
}
.anie, .jack {
    display: grid;
    justify-content: left;
}

.anie {
    grid-template-columns: 15rem 2fr 15rem;
}

.jack {
    grid-template-columns: 15rem 2fr 15rem;
}

.jack .message {
    grid-column: 2 / 3;
}

.jack .user {
    grid-column: 3 / 4;
}

.anie *, .jack * {
    display: inline-flex;
}

.message {
    padding: 1.5rem 1rem;
}

.anie .message {
    background-color: #ffb7c2;
    border-radius:  1rem 1rem 1rem 0;
}

.jack .message {
    order: -1;
    background-color: #aed9e7;
    border-radius:  1rem 1rem 0 1rem;
}


/* .user */
.user {
    padding: 0 1rem;
}

.anie .user {
    justify-content: right;
}

.info {
    flex-direction: column;
    justify-content: center;
}

.date {
    font-size: 0.75em;
    color: gray;
}

.img {
    width: 6rem;
    height: 6rem;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.anie .img {
    background-image: url(pics/avatar_2.png);
}

.jack .img {
    background-image: url(pics/avatar_1.png);
    order: -1 ;
}

@media (max-width: 1220px) {
    .flex {
        margin: 3rem 3rem;
    }
}

@media (max-width: 900px) {
    .flex {
        margin: 2rem 2rem;
    }

    html {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .flex {
        margin: 1rem 1rem;
    }

    html {
        font-size: 12px;
    }
}